body
{
	background-color: #c0fdff;
	font-family: Arial;
}
h1
{
	color: #ff0a54;
	text-align: center;
}
@keyframes pulse{
	0%{
		transform: scale(1);
	}
  50%{
		transform: scale(1.05);
	}
	100%{
		transform: scale(1);
	}
}
div.petalo
{
	background-color:#FFFF00;
	border-radius: 35px;
	width: 80px;
	height: 80px;
	position: absolute;
}
#centro
{
	background-color: #804000;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	width: 100px;
	height: 100px;
	top:50%;
	left:50%;
	position: absolute;
	margin-top: -50px;
	margin-left: -50px;
  animation: pulse 1s infinite;
}
#tallo
{
	width: 15px;
	height: 160px;
	background-color: #006c67;
	margin-top: -100px;
	margin-left: 150px;
}
#hoja
{
	background-color: #006c67;
	border-radius: 25px 0px 25px 0px;
	width: 30px;
	height: 30px;
	margin-left: 165px;
	margin-top: -95px;
	position: absolute;
}

#flor
{
	width: 300px;
	height: 300px;
	background-color: transparent;
	position: relative;
}
#p1
{
	top:70px;
	left:40px;
}
#p2
{
	top:40px;
	left:110px;
}
#p3
{
	top:70px;
	left:180px;
}
#p4
{
	top:145px;
	left:44px;
}
#p5
{
	top:180px;
	left:114px;
}
#p6
{
	top:140px;
	left:180px;
}
#figura{
	position: relative;
	background-color: transparent;
	top:0px ;
	left: 0px;
	width: 300px;
	margin: auto;
}
#cesped{
	position: absolute;
	width: 345px;
	position: absolute;
	bottom: 0px;
}
.manga{
	background: #80ed99;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	width: 50px;
	height: 50px;
	display: inline-block;
}
.fondo_manga{
  background: #80ed99;
  height: 50px;
  left: -12px;
  position: absolute;
  top: 25px;
  width: 345px;
}

#postit{
  position:fixed;
  background:#e9ff70;
  width:200px;
  height:200px;
  margin:20px;
  right:10px;
  padding:20px;
}

#main{
  display: flex;
  justify-content: center;
  align-items: center;
}
